
    body {
        font-family: 'Arvo', serif;
    }
    /* Estilos correspondientes a la cabecera */
    .cabecera {
        background-color: #e8bc65;
    }
    .imagen-cabecera {
        width: 75%;
        max-width: 950px;
    }
    .redes-sociales {
        max-width: 50px;
        min-width: 30px;
        width:100%;
    }
    .menu_navegacion {
        background-color: #dc982f;
    }

    .slideprincipal {
        width: 100%;
    }

    /* Estilos de diseño de secciones */
    .h1_cabecera_seccion {
        font-family: 'Pacifico', cursive;
        font-size: 35px;
    }

    .cabecera_receta {
        font-family: 'Arvo', serif;
        font-size: 25px;
    }
    /* Estilos de los textos en las recetas*/
    .enfasis_recetas {
        text-decoration: underline;
        font-weight: bold;
    }

    /* Estilos correspondientes al menú de navegación*/
    .ul_menu {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    }

    .lista_menu {
        float: left;
    }

    .lista_menu a {
       display:block;
       color: black; 
       text-align: center;
       padding: 3px 16px;
       text-decoration: none;
    }

    .lista_menu a:hover {
        text-decoration: none;
        font-style: italic;
        color: white;
    }